html, body, #root, #root > div {
  height: 100%;
}

body {
  font-family: 'Crimson Text', serif !important;
}

#root > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcomeScreen {
  margin-top: -80px;
  text-align: center;
}


.finalScreen {
  text-align: center;
}

.hiddenImages {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.imgWithBounceAnimation {
  width: 100%;
  max-width: 800px;
  display: block;
  margin: 0 auto;
  animation: bounce .7s infinite alternate;
}

.imgWithUpDownAnimation {
  width: 100%;
  max-width: 800px;
  display: block;
  margin: 0 auto;
  animation: upDown .7s infinite alternate;
  margin-top: -60px;
}

@keyframes bounce {
  to { transform: scale(1.1); }
}

@keyframes upDown {
  to { transform: translateY(5%); }
}