.imgWithBounceAnimation {
  width: 100%;
  animation: bounce .7s infinite alternate;
}

.imgWithUpDownAnimation {
  width: 100%;
  animation: upDown .7s infinite alternate;
}

@keyframes bounce {
  to { transform: scale(1.1); }
}

@keyframes upDown {
  to { transform: translateY(5%); }
}